<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
    <style type="text/css">
        body {
            background-color: #4a5568;
            color: #e2e8f0;
            justify-content: center;
            margin-right: auto;
            margin-left: 5%;
            max-width: 100em;
        }
        a {
            color: #b794f4;
            text-decoration: wavy;
        }
        a:visited {
            color: #925dee;
        }
        .list::marker  {
            content: "🔗";
        }
        .back::marker  {
            content: "⏪";
        }
        .download {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        Licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>, code available at <a href="https://codeberg.org/Samsai/vod-library">https://codeberg.org/Samsai/vod-library</a>
        {% endblock footer %}
    </div>
</body>
</html>
