{% extends "base.html" %}

{% block title %}VOD Library{% endblock title %}

{% block content %}
    <h1>VOD Library</h1>
    <p>
        Total size: <b>{{total_size}}</b>
    </p>
    <ul>
        {% for file, size in files %}
        <li class="list">
            <a href="/files/{{ file }}" download>⏬</a>
            <a href="/vod/{{ file }}">{{ file }}</a> ({{ size }})
        </li>
        {% endfor %}
    </ul>
{% endblock content %}